
<div class="ruby-text"> 
    <h1 > login component </h1>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="loginData.username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
  